In [24]:
# import urllib.request,sys,time
# from bs4 import BeautifulSoup
import requests
import pandas as pd
import json
from datetime import datetime, timezone

In [38]:
import pytz

In [2]:
search_term = 'tsla'  # can include multiples (comma separated)

# Yahoo Finance API
https://financeapi.net/

In [7]:
YH_API = "BJUVzIJTt95b78DlZU4NM6nAChTNSKJe9O1DYnv3"

In [47]:
yh_base_url = 'https://yfapi.net'
tick_url = '/v8/finance/spark'
headers = {'x-api-key': YH_API}
params = {"symbols": search_term, "interval": "5m", "range": "1d"}
page = requests.get(yh_base_url+tick_url, headers=headers, params=params)

In [48]:
resp = json.loads(page.text)[search_term]

In [52]:
def time_from_timestamp(ts, tz='US/Eastern'):
    return datetime.fromtimestamp(ts, tz=pytz.timezone(tz)).strftime('%Y-%m-%d %H:%M:%S')

def convert_to_df(resp:dict, **args):
    times = [time_from_timestamp(ts, **args) for ts in resp['timestamp']]
    prices = resp['close']
    df = pd.DataFrame({'Time (ET)': times, 'Price': prices })
    return df

In [53]:
df = convert_to_df(resp, tz='UTC')
df

              Time (ET)    Price
0   2023-06-16 13:30:00  259.600
1   2023-06-16 13:35:00  259.270
2   2023-06-16 13:40:00  258.001
3   2023-06-16 13:45:00  260.169
4   2023-06-16 13:50:00  260.230
..                  ...      ...
74  2023-06-16 19:40:00  260.825
75  2023-06-16 19:45:00  260.820
76  2023-06-16 19:50:00  260.959
77  2023-06-16 19:55:00  260.540
78  2023-06-16 20:00:00  260.540

[79 rows x 2 columns]